<app-employees></app-employees>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="seat-reserv.component.css" />
    <title>Movie Seat Booking</title>
  </head>
  <body>
    <div class="selectfilas">
      <label> Seleccione cantidad de filas:</label>
      <select id="filas">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>  
    <div class="selectcolumnas">
        <label> Seleccione cantidad de columnas:</label>
        <select id="columnas">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>  
      <div>
        <button class="button btn-sucess btn-lg btn-block" (click)="selectValidator()">Generar Sala</button>
      </div>

    <ul class="showcase">
      <li>
        <div class="seat" id="disponible"></div>
        <small>Disponible</small>
      </li>
      <li>
        <div class="seat selected" id="seleccionado"></div>
        <small>Seleccionado</small>
      </li>
      <li>
        <div class="seat sold" id="vendido"></div>
        <small>No disponible</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>
      <table class="seatContainer" id="seatTable" (click)="updater()"></table>
    </div>
    <script></script>
   
  </body>
</html>