<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />


  </head>
  <body class="text-center">

    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal">Registro</h1>

        <a>Primer nombre</a>
        <label for="inputName" class="visually-hidden">Primer nombre</label>
        <input id="inputName" class="form-control" placeholder="ingrese su primer nombre" required #fnameInput>

        <a>Segundo nombre</a>
        <label for="inputName" class="visually-hidden">Segundo nombre</label>
        <input id="inputName" class="form-control" placeholder="ingrese su segundo nombre" required #snameInput>

        <a>Primer apellido nombre</a>
        <label for="inputLastName" class="visually-hidden">Primer apellido</label>
        <input id="inputLastName" class="form-control" placeholder="ingrese su primer apellido" required #flastnameInput>

        <a>Segundo apellido nombre</a>
        <label for="inputSLastName" class="visually-hidden">Segundo apellido</label>
        <input id="inputSLastName" class="form-control" placeholder="ingrese su segundo apellido" required #slastnameInput>

        <a>Cédula</a>
        <label for="inputDireccion" class="visually-hidden">Cedula</label>
        <input id="inputDireccion" class="form-control" placeholder="ingrese su cedula" required #IDcardInput>

        <a>Teléfono</a>
        <label for="inputContinet" class="visually-hidden">Telefono</label>
        <input id="inputContinet" class="form-control" placeholder="ingrese su teléfono" required #phoneInput>

        <a>Fecha nacimiento</a>
        <label for="inputCountry" class="visually-hidden">Fecha de nacimiento</label>
        <input id="inputCountry" class="form-control" placeholder="ingrese su fecha de nacimiento" required #BDInput>

        <a>Edad</a>
        <label for="inputCountry" class="visually-hidden">Edad</label>
        <input id="inputCountry" class="form-control" placeholder="ingrese su edad" required #ageInput>

        <a>Usuario</a>
        <label for="inputEmail" class="visually-hidden">Usuario</label>
        <input id="inputEmail" class="form-control" placeholder="ingrese su nombre de usuario" required autofocus #userInput>

        <a>Contraseña</a>
        <label for="inputPassword" class="visually-hidden">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="ingrese su contraseña" required #passwordInput>
        <!--aquí está el botón -->
        <button class="btn btn-sucess btn-lg btn-block" type="submit"> Registrar</button>
      </form>
    </main>

  </body>
</html>