<div>
<app-navbar></app-navbar>
<app-carousel></app-carousel>
<table class="GeneratedTable">
    <tbody>
        <div>
            <tr>
                <td>
                    <mat-card class="example-card">
                        <img mat-card-image src="assets/kizu.jpg">
                    </mat-card>
                </td>
                <td>
                    <mat-card class="example-card">
                        <img mat-card-image src="assets/Joker.jpg">
                    </mat-card>
                </td>
                <td>
                    <mat-card class="example-card">
                        <img mat-card-image src="assets/dark.jpg">
                    </mat-card>
                </td>
            </tr>
        </div>
        <div>
        <tr>
            <td>
                <mat-card class="example-card">
                    <img mat-card-image src="assets/dark.jpg">
                </mat-card>
            </td>
            <td>
                <mat-card class="example-card">
                    <img mat-card-image src="assets/kizu.jpg">
                </mat-card>
            </td>
            <td>
                <mat-card class="example-card">
                    <img mat-card-image src="assets/Joker.jpg">
                </mat-card>
            </td>
        </tr>
        <tr>
            <td>
                <mat-card class="example-card">
                    <img mat-card-image src="assets/Joker.jpg">
                </mat-card>
            </td>
            <td>
                <mat-card class="example-card">
                    <img mat-card-image src="assets/dark.jpg">
                </mat-card>
            </td>
            <td>
                <mat-card class="example-card">
                    <img mat-card-image src="assets/kizu.jpg">
                </mat-card>
            </td>
        </tr>
    </div>
    </tbody>
</table>
</div>
