<app-employees></app-employees>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />


  </head>
  <body class="text-center">
  
    <main class="form2">
      <form [formGroup]="form2" (ngSubmit)="guardarOffices()">
        <h1 class="h3 mb-3 fw-normal">Registro de Sucursales</h1>

        <a>Nombre de la Sucursal</a>
        <label for="inputOfficesName" class="visually-hidden">Nombre del cine</label>
        <input id="inputOfficesName" class="form-control" formControlName="inputOfficesName" placeholder="Introduzca nombre del cine" required #cineInput>

        <a>Ubicacion</a>
        <label for="inputLocation" class="visually-hidden">Ubicacion</label>
        <input id="inputLocation" class="form-control"  formControlName="inputLocation"  placeholder="Ingrese la ubicación" required #ubicacionInput>

        <a>Cantidad de salas</a>
        <label for="inputNumberRooms" class="visually-hidden">Cant_salas</label>
        <input id="inputNumberRooms" class="form-control" formControlName="inputNumberRooms" placeholder="Ingrese la cantidad de salas" required #Cant_salasInput>
        <h1></h1>
        
        <button class="button btn-sucess btn-lg btn-block" type="submit"> Registrar Sucursal</button>
      </form>
    </main>
    <div class="col-md-7">
      <h6 class="text-center">
          Sucursales
      </h6>
      <app-officeslist></app-officeslist>
  </div>
  
  </body>
</html>