<app-employees></app-employees>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />


  </head>
  <body class="text-center">

    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal">Registro de Peliculas</h1>

        <a>Nombre</a>
        <label for="inputName" class="visually-hidden">Nombre</label>
        <input id="inputName" class="form-control" placeholder="Ingrese el nombre" required #nameInput>
        
        <a>Subir Imagen</a>
        <app-imagemanager></app-imagemanager>

        <a>Duracion</a>
        <label for="inputDuracion" class="visually-hidden">Duracion</label>
        <input id="inputDuracion" class="form-control" placeholder="Ingrese duracion de la pelicula" required #duracionInput>

        <a>Protagonistas</a>
        <label for="inputProtagonista" class="visually-hidden">Protagonistas</label>
        <input id="inputProtagonista" class="form-control" placeholder="Ingrese Protagonistas" required #IDcardInput>

        <a>Director</a>
        <label for="inputDirector" class="visually-hidden">Director</label>
        <input id="inputDirector" class="form-control" placeholder="Ingrese Director" required #DirectorInput>

        <a>Clasificacion</a>
        <label for="inputClasificacion" class="visually-hidden">Clasificacion</label>
        <input id="inputClasificacion" class="form-control" placeholder="Ingrese Clasificacion" required #ClasificacionInput>
        
        <a>Precio Adulto</a>
        <label for="inputAdult" class="visually-hidden">Precio Adulto</label>
        <input id="inputAdult" class="form-control" placeholder="Ingrese Precio Adulto" required #AdultInput>
       
        <a>Precio Adulto Mayor</a>
        <label for="inputAdultElder" class="visually-hidden">Precio Adulto</label>
        <input id="inputAdultElder" class="form-control" placeholder="Ingrese Precio Adulto Mayor" required #ElderInput>
       
        <a>Precio Niño</a>
        <label for="inputChild" class="visually-hidden">Precio Niño</label>
        <input id="inputChild" class="form-control" placeholder="Ingrese Precio Niño" required #ChildInput>
       
        <h1></h1>

        <button class="button btn-sucess btn-lg btn-block" type="submit"> Registrar Pelicula</button>
      </form>
      

    </main>

  </body>
</html>