<app-employees></app-employees>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">
  <div class="jumbtrom">
    <div class="row">
      <div class="col-md-5">
        <main class="form-signin">
          <form [formGroup]="form">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
              integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
              crossorigin="anonymous">
            <h1 class="h3 mb-3 fw-normal">Registro de Peliculas</h1>

            <a>Nombre</a>
            <label for="inputName" class="visually-hidden">Nombre</label>
            <input id="inputName" class="form-control" formControlName="nombre" placeholder="Ingrese el nombre" required
              #nameInput>

            <a>Subir Imagen</a>
            <div class="form-group col-12 image">
              <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image"
                autocomplete="off" />
            </div>
            <div *ngIf="fb" class="list">
              <img src="{{ fb }}" alt="" />
            </div>

            <a>Duracion</a>
            <label for="inputDuracion" class="visually-hidden">Duracion</label>
            <input id="inputDuracion" class="form-control" formControlName="duracion"
              placeholder="Ingrese duracion de la pelicula" required #duracionInput>

            <a>Protagonistas</a>
            <form [formGroup]="protagonistaForm">
              <select formControlName="protagonistas" id="inputProtagonista">
                <option [value]='protagonista' *ngFor="let protagonista of arrayProtagonistas">{{protagonista}}</option>
              </select>
            </form>
            <a>Directores</a>
            <form [formGroup]="directorForm">
              <select formControlName="directoresx" id="inputDirector">
                <option [value]='director' *ngFor="let director of arrayDirectores">{{director}}</option>
              </select>
            </form>
            <a>Clasificacion</a>
            <label for="inputClasificacion" class="visually-hidden">Clasificacion</label>
            <input id="inputClasificacion" class="form-control" formControlName="clasificacion"
              placeholder="Ingrese Clasificacion" required #ClasificacionInput>

            <a>Precio Adulto</a>
            <label for="inputAdult" class="visually-hidden">Precio Adulto</label>
            <input type="number" id="inputAdult" class="form-control" formControlName="precio_adulto"
              placeholder="Ingrese Precio Adulto" required #AdultInput>

            <a>Precio Adulto Mayor</a>
            <label for="inputAdultElder" class="visually-hidden">Precio Adulto</label>
            <input type="number" id="inputAdultElder" class="form-control" formControlName="precio_adulto_mayor"
              placeholder="Ingrese Precio Adulto Mayor" required #ElderInput>

            <a>Precio Niño</a>
            <label for="inputChild" class="visually-hidden">Precio Niño</label>
            <input type="number" id="inputChild" class="form-control" formControlName="precio_child"
              placeholder="Ingrese Precio Niño" required #ChildInput>

            <h1></h1>

            <div>
              <button class="button btn-sucess btn-lg btn-block" (click)="guardarPelicula()">Guardar Pelicula</button>
            </div>
            <!-- <div>
        <button class="button btn-sucess btn-lg btn-block" (click)="obtenerPelicula()">Generar Sala</button>
      </div> -->



            <!-- <tr *ngFor="let movie of movieService.list">
        <td style="color: white;">
          {{movie.poster_Movie}}
        </td>
        <td>
          <i class="far fa-edit fa-lg text-info" (click)="obtenerPelicula(movie)" style="cursor: pointer;"></i>
        </td>
      </tr> -->

          </form>
          <table id="tabla">

          </table>


        </main>
      </div>
      <div class="col-md-7">
          <h6 class="text-center">
              Peliculas
          </h6>
          <app-movieslist></app-movieslist>
      </div>
  </div>
</div>
</body>

</html>